
#marquee {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 0 15%;
}

.quote {
    font-size: 15px;
}

main {
 /* padding: 2% 0;  */
}


.hero {
    padding: var(--main-side-padding);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    background-image: radial-gradient(#fff 10%, transparent 11%), radial-gradient(#fff 10%, transparent 11%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.hero_content {
    padding:var(--main-topdown-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hello {
    background-color: rgb(255, 255, 255);
    box-shadow: 8px 10px 0px 4px rgba(255, 255, 255, 0.84);
    color: rgb(0, 0, 0);
    font-size: 30px;
    word-spacing: 0.2em;
    text-transform: uppercase;
 }

 /* AUTO TYPING STYLES */
.auto-input {
    margin-top: 4em;
    position: relative;
    background: #FFF6EE;
    color: #000000;
    font-size: 22px;
    line-height: 35px;
    box-shadow: 8px 10px 0px 4px rgba(255, 255, 255, 0.84);
    text-align: center;
    width: 800px;
    height: 280px;
    border-radius: 10px;
    padding: 30px;
    transform: rotate(350deg);
    font-weight: 400;
    text-transform: capitalize;
}

.auto-input:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 0 38px 32px;
    border-color: transparent transparent #FFF6EE transparent;
    top: -38px;
    left: 31%;
    margin-left: -16px;
}


.collection {
    display: flex;
    background-color: #000;
    justify-content: center;
}

aside, #video {
    padding: 7% 12%;
}

aside h3 {
    background-color: rgb(0, 0, 0);
    box-shadow: 8px 10px 0px 4px rgba(0, 0, 0, 0.84);
    color: rgb(225, 225, 225);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#tracks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}

#tracks img {
    width: 25%;
    height: 20%;
    text-align: center;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 1% 12%;
    
}


/* MOBILE STYLING */